@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 92%;
    --foreground: 0 0% 10%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10%;

    --primary: 180 1% 23%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 88%;
    --secondary-foreground: 0 0% 10%;

    --muted: 0 0% 88%;
    --muted-foreground: 0 0% 45%;

    --accent: 84 100% 67%;
    --accent-foreground: 0 0% 10%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 85%;
    --input: 0 0% 85%;
    --ring: 84 100% 67%;

    --radius: 1rem;

    --header-bg: 0 0% 24%;
    --header-fg: 0 0% 98%;
  }

  .dark {
    --background: 0 0% 92%;
    --foreground: 0 0% 10%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10%;

    --primary: 180 1% 23%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 88%;
    --secondary-foreground: 0 0% 10%;

    --muted: 0 0% 88%;
    --muted-foreground: 0 0% 45%;

    --accent: 84 100% 67%;
    --accent-foreground: 0 0% 10%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 85%;
    --input: 0 0% 85%;
    --ring: 84 100% 67%;

    --header-bg: 0 0% 24%;
    --header-fg: 0 0% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
